/* TODO:
* Shorten Hero related media queries (with variables?)
* Bugfix: Narrowest Width in 500% zoom looks broken */

/*! Variables */
:root
{
    --clr-dark: #333;
    --clr-light: #eee;
    --clr-main: #00d5ff;
    --clr-overlay: #00b1d5;
    --clr-highlight: #ffff39;
    --clr-box-shadow: #00d5ff4b;
    --clr-txt-shadow: #33333375;
    --clr-scroll: #5f5f5f88; 
    --pad-inline-body: 5%;
    --space-left: calc(var(--pad-inline-body) + 21px);
}

/*! General */
*
{
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Verdana, sans-serif;
}
body
{   
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
section
{
    height: 100vh;
    padding-inline: var(--pad-inline-body);
}

/*! Scroll  */
html {scroll-behavior: smooth;}
html::-webkit-scrollbar {width: 0.5vw;}
html::-webkit-scrollbar-track {background-color: #424242;}
html::-webkit-scrollbar-thumb
{
    background-color: transparent;
    border: 3px var(--clr-scroll) dotted;
}
html::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:active
{
    border: none;
    border-radius: 5px;
    background-color: var(--clr-scroll);
}

/*! Navbar */
nav
{
    background-color: var(--clr-main);
    margin-top: 30px;
    padding-inline: var(--pad-inline-body);
    box-shadow: 0 0 5px var(--clr-box-shadow);
    height: 72px;
}
nav a
{
    text-decoration: none;
    font-weight: bold;
    color: var(--clr-dark);
    transition: all 0.75s;
}
#menu-row a
{
    font-size: 18px;
    padding: 25px 15px;
    border-radius: 0px;
}
#menu-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-items {display: flex;}
#Logo
{
    font-family: Georgia, Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: var(--clr-dark);
    text-shadow: -1px 1px 4px var(--clr-txt-shadow);
    padding: 21px;
}
#menu-row a:hover, #menu-row a:active
{
    background-color: var(--clr-dark);
    color: var(--clr-main);
}

/*! Sidebar */
#menu-clm a
{
    background-color: var(--clr-main);
    box-shadow: 0 0 5px var(--clr-box-shadow);
    padding: 10px 30px 10px 50px;
    font-size: 25px;
    min-width: 150px;
}
#menu-clm a:last-child{padding-bottom: 20px;}
#menu-icon
{
    top: 40px;
    margin-right: var(--pad-inline-body);
    padding-bottom: 20px;
    transition: all 0.5s;
}
#menu-items, #menu-icon
{
    display: none;
    /* men-icon display toggles with mediaQuery*/
    /* menu-items display toggles with menu-icon hover */
    position: absolute;
    right: 0;
    z-index: 999;
}
#menu-clm:hover #menu-items, #menu-clm:active #menu-items
{
    display: flex;
    flex-direction: column;
}
#menu-clm:hover #menu-icon {transform: rotateY(120deg);}
#menu-clm a:hover
{
    background-color: var(--clr-overlay);
    color: var(--clr-highlight);
}

/*! Hero Section */
#Hero { height: calc(100vh - 102px); }
#Hero, #Hero-L, #Hero-R
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Hero-R img {width: 41vw;}
#Hero > div {width: 40vw;}

#Hero-L 
{ 
    flex-direction: column;
    margin-top: 5vh;
}

#Hero-L h3
{
    font-size: 3.1vw;
    color: var(--clr-light);
    text-shadow: 0 0 5px var(--clr-txt-shadow);
}
#Hero-L h1
{
    font-size: 6.2vw;
    color: var(--clr-main);
    text-shadow: 0 0 5px var(--clr-txt-shadow);
}
#hero-mid-line
{
    display: flex;
    gap: 2vw;
    align-items: center;
}

#typed-text p
{
    font-size: 1.15vw;
    font-family: monospace;
    color: var(--clr-light);
}
#typed-text
{
    height: 1.75vw;
    line-height: 2vw;
    margin-top: 1vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: cursor 0.5s infinite linear,
    change-line 30s infinite steps(3);
}
#typed-text::before
{
    content: "";
    width: 100%;
    height: 100%;
    border-left: 2px var(--clr-main) solid;
    background-color: var(--clr-dark);
    position: absolute;
    right: 0;
    animation: cursor 0.5s infinite,
    typing 30s steps(52) infinite;
}

#Hero-L button
{
    width: 15vw;
    margin-top: 2vw;
    padding-block: 1vw;
    border-radius: 5vw;
    border: black 0.2vw solid;
    background-color: var(--clr-main);
    box-shadow: 0 0 5px var(--clr-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
#Hero-L button a
{
    font-size: 2vw;
    font-family: monospace;
    text-decoration: none;
    color: var(--clr-dark);
}
#Hero-L button:hover
{
    transform: scale(1.1, 1.1);
    background-color: var(--clr-light);
    box-shadow: 0 0 10px var(--clr-box-shadow);
}
#Hero-L button:active #enroll {margin-left: 1vw;}
#Hero-R
{
    z-index: -1;
    animation: SloWiggle 10s infinite linear;
}

/*! Animations */
@keyframes SloWiggle
{
    0%, 50%, 100%
    {transform: translateY(0);}
    25% {transform: translateY(-10px);}
    75% {transform: translateY(10px);}
}
@keyframes cursor
{
    50% {border-color: transparent;}
}
@keyframes change-line
{
    0% {justify-content: flex-start;}
    49.5% {justify-content: center;}
    74.5%, 100% {justify-content: flex-end;}
}
@keyframes typing
{
    11%, 22%, 44%, 55%, 77%, 88% {width: 0;}
    0%, 33%, 66%, 100% {width: 100%;}
}

/*! Responsive */
@media (width < 426px)
{
    #menu-items {min-width: 100%;}
    #menu-clm a{padding-left: var(--space-left);}
}

@media (width > 1280px)
{
    :root { --pad-inline-body: 10%; }
    #menu-row a {padding-inline: 25px;}
}

@media (width < 950px)
{
    #navbar-items {display: none;}
    #menu-icon {display: inline-block;}

    #Hero
    {
        flex-direction: column;
        justify-content: space-evenly;
    }
    #Hero > div
    {
        min-width: 80vw;
        justify-content: center;
    }
    #Hero-L button
    {
        width: min(30vw, 10rem);
        padding-block: min(2vw, .5rem);
        margin-top: min(4vw, 1.2rem);
    }
    #Hero-L button a {font-size: min(4vw, 1.3rem);}
    #Hero h1 {font-size: min(12vw, 4rem);}
    #Hero h3 {font-size: min(6vw, 2rem);}
    #hero-mid-line {gap: min(3vw, 1.3rem);}
    #Hero-R img {width: 45vh;}
    #typed-text p {font-size: min(2.3vw, .75rem);}
    #typed-text
    {
        height: min(3.5vw, 1rem);
        line-height: min(4vw, 1.2rem);
    }
}

@media (1280px >= width >= 950px)
{
    #Hero-L
    {
        align-self: flex-start;
        margin: 25vw 0 22vw 4vw;
    }
    #Hero-R
    {
        align-self: flex-end;
        margin: 22vw 4vw 15vw 0;
    }
}
